{% extends 'base/leader_base.html' %}

{% block content %}

<h1 class="mb-4">
    📈 Leader Analytics
</h1>

<div class="row">

    <div class="col-md-6">
        <div class="card p-4 shadow-sm">
            <h4 class="text-center mb-3">
                Task Analytics
            </h4>

            <canvas id="taskChart"></canvas>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card p-4 shadow-sm">
            <h4 class="text-center mb-3">
                Team Overview
            </h4>

            <canvas id="projectChart"></canvas>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const ctx1 = document.getElementById('taskChart');

new Chart(ctx1, {

    type: 'bar',

    data: {

        labels: [
            'Completed Tasks',
            'Pending Tasks'
        ],

        datasets: [{

            label: 'Tasks',

            data: [
                {{ completed_tasks }},
                {{ pending_tasks }}
            ],

            borderWidth: 1

        }]

    },

    options: {

        responsive: true,

        scales: {

            y: {

                beginAtZero: true

            }

        }

    }

});


const ctx2 = document.getElementById('projectChart');

new Chart(ctx2, {

    type: 'pie',

    data: {

        labels: [
            'Projects',
            'Team Members',
            'Meetings'
        ],

        datasets: [{

            data: [
                {{ total_projects }},
                {{ total_members }},
                {{ total_meetings }}
            ]

        }]

    },

    options: {

        responsive: true

    }

});

</script>

{% endblock %}