{% extends 'base/leader_base.html' %}

{% block content %}

<h1 class="mb-4">

Meeting Calendar

</h1>

<div class="card p-5">

<div class="mb-4">

<label>

Meeting Title

</label>

<input
type="text"
class="form-control">

</div>

<div class="mb-4">

<label>

Meeting Date

</label>

<input
type="date"
class="form-control">

</div>

<div class="mb-4">

<label>

Meeting Time

</label>

<input
type="time"
class="form-control">

</div>

<button
class="btn btn-success">

Schedule Meeting

</button>

</div>

{% endblock %}