{% extends 'base/business_base.html' %}

{% block content %}

<h1 class="mb-4">

Business Dashboard

</h1>

<div class="row">

<div class="col-md-4">

<div class="card dashboard-card">

<h5>

Active Projects

</h5>

<h2>{{ total_projects }}</h2>

</div>

</div>

<div class="col-md-4">

    <div class="card dashboard-card">

        <h5>

            Pending Tasks

        </h5>

        <h2>

            {{ pending_tasks }}

        </h2>

    </div>

</div>
<div class="col-md-4">

<div class="card dashboard-card">

<h5>

Meetings

</h5>

<h2>

{{ total_meetings }}

</h2>

</div>

</div>

</div>

{% endblock %}