{% extends 'base/admin_base.html' %}

{% block content %}

<h1 class="mb-4">

Manage Teams

</h1>

<div class="row">

<div class="col-md-4">

<div class="card dashboard-card">

<h5>

Total Teams

</h5>
<h2>{{ total_teams }}</h2>
</div>
</div>
<div class="col-md-4">
<div class="card dashboard-card">
<h5>
Active Leaders
</h5>
<h2>
{{active_leaders}}
</h2>

</div>

</div>

<div class="col-md-4">

<div class="card dashboard-card">

<h5>

Employees

</h5>

<h2>

{{employees}}

</h2>

</div>

</div>

</div>

<div class="card p-4 mt-4">

<h3 class="mb-4">

Team List

</h3>

<table class="table table-hover">

<thead>

<tr>

<th>

Team Name

</th>

<th>

Leader

</th>

<th>

Members

</th>

<th>

Status

</th>

<th>

Action

</th>

</tr>

</thead>

<tbody>

{% for team in teams %}

<tr>

<td>

{{ team.name }}

</td>

<td>

{{ team.leader }}

</td>

<td>

1

</td>

<td>

<span class="badge bg-success">

Active

</span>

</td>

<td>

<button class="btn btn-primary btn-sm">

View

</button>

</td>

</tr>

{% empty %}

<tr>

<td colspan="5" class="text-center">

No Teams Found

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}